* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #54c587 0%, rgba(16, 113, 5, 0.8) 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}
.loginGoogle {
  width: 130px;
  height: 50px;
}

.login-card {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba (0, 0, 0, 0.1);
  min-width: 500px;
}
