* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button:hover {
  transform: translateY(-4px);
}
.login-card {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align: center;
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba (0, 0, 0, 0.1);
  width: 100%;
  min-width: 450px;
}
