* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginGoogle {
  width: 130px;
  height: 50px;
}
.login-card {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.212);
  background: 'linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%)';
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba (0, 0, 0, 0.1);
  width: 100%;
  min-width: 450px;
  border: '1px solid rgba(255, 255, 255, 0.5)',
}
